@enouvo-packages:registry=https://gitlab.enouvo.com/api/v4/packages/npm/
//gitlab.enouvo.com/api/v4/packages/npm/:_authToken=T-sHd4PJkcEEGTGqvXAT
//gitlab.enouvo.com/api/v4/projects/305/packages/npm/:_authToken=T-sHd4PJkcEEGTGqvXAT
//gitlab.enouvo.com/api/v4/projects/342/packages/npm/:_authToken=T-sHd4PJkcEEGTGqvXAT